
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
  
}
body{
    background-color:whitesmoke;
}
.center{
    display:flex;
    height:450px;
    width:800px;
    border:1px solid black;
    margin:auto;
    margin-top:50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display:flex;
    flex-direction: column;
    width:50%;
    align-items:center;
    background-color:whitesmoke;

}
.form h2{
    font-size:2rem;
    margin:20px;
    color:maroon;
}


.form p{
    font-size:3rem;
    margin:10px;
    color:maroon;
}
.box{
    padding:12px;
    width:65%;
    margin:15px;
    border:1px solid black;
    outline:none;
    border-radius:20px;
}
#submit{
    padding: 12px;
    width:40%;
    margin-top:40px;
    background-color:maroon;
    font-weight: bold;
    border:none;
    outline:none;
    border-radius: 20px;
}
#submit:hover{
    cursor:pointer;
    background-color:maroon;
}
/*image*/
.side{
    display:flex;
}
.side img{
    width:450px;
    height:450px;

}
