body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Optional: Remove default body padding */
}

.wrapper {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and nav */
    height: 140px; /* Adjust height as needed */
    padding: 0 20px; /* Add horizontal padding */
}

header {
    background: linear-gradient(to left bottom, #67b26f, #4ca2cd);
    width: 100%;
}

.logo {
    text-align: left; /* Align text to the left */
    padding: 20px 0; /* Adjust padding as needed */
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 0.35em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
        -1px 1px 0 black,
        -2px 2px 0 black,
        -3px 3px 0 #00A878,
        -4px 4px 0 black,
        -5px 5px 0 black;
    margin: 0 0 10px 0;
}

.tagline {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.12em;
    color: white;
}
.search-container {
    text-align: center; /* Center the search bar */
    margin: 10px 0; /* Space above and below */
}

.search-container input[type="text"] {
    padding: 16px;
    font-size: 16px;
    border: 2px solid #67b26f; /* Adjust color to match your theme */
    border-radius: 5px;
    width: 600px; /* Adjust width as needed */
}

.search-container button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #67b26f; /* Adjust color to match your theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px; /* Space between input and button */
    margin-bottom: 20px;
    
}

.search-container button:hover {
    background-color: #4ca2cd; /* Change color on hover */
}



/* Navbar styles */
nav {
    display: flex; /* Keep the flex display for nav */
}

nav ul {
    list-style: none; /* Removes bullets from the list */
    display: flex; /* Align items in a row */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 30px; /* Space between nav items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Text color for links */
    font-size: 20px; 
    text-transform: uppercase;
    font-weight: bold; /* Make the text bold */
    letter-spacing: 0.15em; /* Add spacing between letters */
}

nav ul li a:hover {
    color: white; /* Change color on hover */
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 15px;
}

footer nav ul li a {
    color: white;
}
